@use "_variables";

.dark-button-link {
  @include variables.text-7();
  color: #ffffff;
  background-color: variables.$primary-color;
  padding: 16px 32px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  display: inline-block;
  text-decoration: none;

  @media only screen and (min-width: variables.$tablet-screen) and (max-width: variables.$desktop-screen) {
    padding: 10.5px 24px;
  }

  &:hover {
    background-color: variables.$primary-color-muted;
  }
}

.primary-button-link {
  background-color: variables.$background-color;
  border-radius: 28px;

  a {
    @extend .dark-button-link;
    background-color: variables.$background-color;
    background-image: variables.$gradient-color-primary;
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 50%;
    }
  }
}

.secondary-button-link {
  background-color: variables.$background-color;
  border-radius: 28px;

  a {
    @extend .dark-button-link;
    background-color: variables.$background-color;
    background-image: variables.$gradient-color-secondary;
    transition: opacity 0.1s ease;
    &:hover {
      opacity: 50%;
    }
  }
}

@mixin blank-button-link {
  @extend .dark-button-link;
  background-color: variables.$background-color;
  color: variables.$secondary-color;
  transition: color 0.1s ease;

  &:hover {
    background-color: variables.$background-color;
    color: variables.$secondary-color-muted;
  }
}
