$primary-color: #13183f;
$primary-color-muted: #666ca3;

$secondary-color: #f74780;
$secondary-color-muted: #ffa7c3;

$text-color: #83869a;

$background-color: #ffffff;
$background-color-linear: linear-gradient(#ffffff 0%, #f0f1ff 100%);

$gradient-color-primary: linear-gradient(#ff6f48 0%, #f02aa6 100%);
$gradient-color-secondary: linear-gradient(#4851ff 0%, #f02aa6 100%);

$mobile-screen: 600px;

@mixin textDefaults {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

@mixin text-1 {
  @include textDefaults;
  font-weight: 800;
  line-height: 120%;
  font-size: 40px;
  letter-spacing: 0px;

  @media only screen and (min-width: $mobile-screen) {
    font-size: 56px;
  }
}

@mixin text-3 {
  @include textDefaults;
  font-weight: 800;
  line-height: 120%;
  font-size: 24px;
  letter-spacing: 0px;

  @media only screen and (min-width: $mobile-screen) {
    font-size: 32px;
  }
}

@mixin text-4 {
  @include textDefaults;
  font-weight: 800;
  line-height: 120%;
  font-size: 20px;
  letter-spacing: 0px;

  @media only screen and (min-width: $mobile-screen) {
    font-size: 24px;
  }
}

@mixin text-5 {
  @include textDefaults;
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0px;
}

@mixin text-6 {
  @include textDefaults;
  font-weight: 700;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 0px;
}

@mixin text-7 {
  @include textDefaults;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0px;
}
