$primary-color: #13183f;
$primary-color-muted: #666ca3;

$secondary-color: #f74780;
$secondary-color-muted: #ffa7c3;

$text-color: #83869a;

$background-color: #ffffff;

$gradient-color-primary: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$gradient-color-primary-muted: linear-gradient(
  180deg,
  #ff704888 0%,
  #f02aa688 100%
);
$gradient-color-secondary: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
$gradient-color-secondary-muted: linear-gradient(
  180deg,
  #4851ff88 0%,
  #f02aa688 100%
);

@mixin text-7 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0px;
}
