.dark-button-link, .courses-section article a, .secondary-button-link a, .primary-button-link a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #13183f;
  padding: 16px 32px;
  border-radius: 28px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  display: inline-block;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .dark-button-link, .courses-section article a, .secondary-button-link a, .primary-button-link a {
    padding: 10.5px 24px;
  }
}
.dark-button-link:hover, .courses-section article a:hover, .secondary-button-link a:hover, .primary-button-link a:hover {
  background-color: #666ca3;
}

.primary-button-link {
  background-color: #ffffff;
  border-radius: 28px;
}
.primary-button-link a {
  background-color: #ffffff;
  background-image: linear-gradient(#ff6f48 0%, #f02aa6 100%);
  transition: opacity 0.1s ease;
}
.primary-button-link a:hover {
  opacity: 50%;
}

.secondary-button-link, footer .secondary-button-link {
  background-color: #ffffff;
  border-radius: 28px;
}
.secondary-button-link a {
  background-color: #ffffff;
  background-image: linear-gradient(#4851ff 0%, #f02aa6 100%);
  transition: opacity 0.1s ease;
}
.secondary-button-link a:hover {
  opacity: 50%;
}

body {
  background-color: #ffffff;
  margin: 0px;
}

.logo {
  all: unset;
  cursor: pointer;
}
.logo img {
  display: block;
}

header, footer {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
header img, footer img {
  height: 20px;
}
@media only screen and (min-width: 768px) {
  header, footer {
    padding: 24px 44px;
  }
}

.hero-section {
  padding: 0 20px;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    display: flex;
    column-gap: 24px;
    padding: 0 44px 128px;
  }
  .hero-section > div {
    width: 50%;
  }
}
.hero-section h1 {
  margin-bottom: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 120%;
  font-size: 40px;
  letter-spacing: 0px;
}
@media only screen and (min-width: 1440px) {
  .hero-section h1 {
    font-size: 56px;
  }
}
.hero-section h1 {
  color: #13183f;
}
.hero-section p {
  margin-bottom: 40px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0px;
  color: #83869a;
}
@media only screen and (min-width: 768px) {
  .hero-section picture {
    width: 50%;
  }
}
.hero-section img {
  margin-top: 70px;
  display: block;
  width: 100%;
  transform: scale(1.2);
  position: relative;
  z-index: -1000;
}
@media only screen and (min-width: 768px) {
  .hero-section img {
    margin-top: 0;
    margin-bottom: 64px;
    transform: scale(1.9) translate(70px, -20px);
  }
}

.courses-section {
  background-image: linear-gradient(#ffffff 0%, #f0f1ff 100%);
  padding-bottom: 60px;
}
.courses-section h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 120%;
  font-size: 24px;
  letter-spacing: 0px;
}
@media only screen and (min-width: 1440px) {
  .courses-section h2 {
    font-size: 32px;
  }
}
.courses-section h2 {
  color: #ffffff;
  padding: 32px;
  border-radius: 15px;
  margin: 0px 20px;
  background-image: linear-gradient(#ff6f48 0%, #f02aa6 100%);
}
.courses-section ul,
.courses-section li {
  padding: 0;
  list-style: none;
  margin: 0;
}
.courses-section article {
  margin: 60px 20px;
  padding-top: 64px;
  border-radius: 15px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.0442);
  position: relative;
  background-color: #ffffff;
}
.courses-section article:last-child {
  margin-bottom: 0;
}
.courses-section article img {
  position: absolute;
  top: -28px;
  left: 32px;
}
.courses-section article h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  line-height: 120%;
  font-size: 20px;
  letter-spacing: 0px;
}
@media only screen and (min-width: 600px) {
  .courses-section article h3 {
    font-size: 24px;
  }
}
.courses-section article h3 {
  color: #13183f;
  margin: 0px 32px 24px;
}
.courses-section article p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  line-height: 150%;
  font-size: 16px;
  letter-spacing: 0px;
  color: #83869a;
  margin: 0 32px 8px;
}
.courses-section article a {
  background-color: #ffffff;
  color: #f74780;
  transition: color 0.1s ease;
}
.courses-section article a:hover {
  background-color: #ffffff;
  color: #ffa7c3;
}
.courses-section article a {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .courses-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    padding: 0 44px 144px;
  }
  .courses-section ul {
    display: contents;
  }
  .courses-section h2,
  .courses-section article {
    margin: 24px 0 0 0;
  }
}

footer {
  background-color: #13183f;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*# sourceMappingURL=styles.css.map */
