// .plus-jakarta-sans-<uniquifier> {
//   font-family: "Plus Jakarta Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

@use "_variables";
@use "_buttons";
// @mixin forceBackgroundColor($color) {
//   background-color: $color !important;
// }

// husk å test ut mobile first
body {
  background-color: variables.$background-color;
  margin: 0px;
  // @include forceBackgroundColor(wheat);
}

header {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

  img {
    height: 20px;
  }
}

.section-1 {
  padding: 0 20px;

  h1 {
    margin-bottom: 24px;
    @include variables.headline-1;
  }

  p {
    margin-bottom: 40px;
    @include variables.text-5;
  }
}

section {
  h2 {
    color: red;

    &:hover {
      color: blue;
    }
  }
}
