@use "_variables";
@use "_buttons";

body {
  background-color: variables.$background-color;
  margin: 0px;
}

.logo {
  all: unset;
  cursor: pointer;

  img {
    display: block;
  }
}

header {
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;

  img {
    height: 20px;
  }

  @media only screen and (min-width: variables.$tablet-screen) {
    padding: 24px 44px;
  }
}

.hero-section {
  padding: 0 20px;
  @media only screen and (min-width: variables.$tablet-screen) {
    display: flex;
    column-gap: variables.$column-gap;
    padding: 0 40px 128px;
    > div {
      width: 50%;
    }
  }

  h1 {
    margin-bottom: 24px;
    @include variables.text-1;
    color: variables.$primary-color;
  }

  p {
    margin-bottom: 40px;
    @include variables.text-5;
    color: variables.$text-color;
  }

  @media only screen and (min-width: variables.$tablet-screen) {
    picture {
      width: 50%;
    }
  }

  img {
    margin-top: 70px;
    display: block;
    width: 100%;
    transform: scale(1.2);
    position: relative;
    z-index: -1000;

    @media only screen and (min-width: variables.$tablet-screen) {
      margin-top: 0;
      margin-bottom: 64px;
      transform: scale(1.9) translate(70px, -20px);
    }
  }
}

.courses-section {
  background-image: variables.$background-color-linear;
  padding-bottom: 60px;

  h2 {
    @include variables.text-3;
    color: variables.$background-color;
    padding: 32px;
    border-radius: 15px;
    margin: 0px 20px;
    background-image: variables.$gradient-color-primary;
  }

  ul,
  li {
    padding: 0;
    list-style: none;
    margin: 0;
  }

  article {
    margin: 60px 20px;
    padding-top: 64px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 4.42%);
    position: relative;
    background-color: variables.$background-color;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      position: absolute;
      top: -28px;
      left: 32px;
    }

    h3 {
      @include variables.text-4;
      color: variables.$primary-color;
      margin: 0px 32px 24px;
    }

    p {
      @include variables.text-6;
      color: variables.$text-color;
      margin: 0 32px 8px;
    }

    a {
      @include buttons.blank-button-link;
      margin-bottom: 24px;
    }
  }

  @media (min-width: variables.$tablet-screen) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 32px;
    padding: 0 44px 144px;

    ul {
      display: contents;
    }

    h2,
    article {
      margin: 24px 0 0 0;
    }
  }
}

footer {
  @extend header;
  background-color: variables.$primary-color;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  .secondary-button-link {
    @extend .secondary-button-link;
  }
}
